@tailwind base;

@layer base {
  html {
    @apply text-slate-900 font-sans;
  }

  .container-7xl {
    @apply w-full max-w-7xl mx-auto px-6 lg:px-0;
  }

  .container__inner {
    @apply w-full max-w-7xl mx-auto px-6 lg:px-0 md:w-5/6 lg:w-full;
  }

  .hero__padding {
    @apply pt-28 md:pt-32 xl:pt-28 pb-20 md:pb-28 xl:pb-32;
  }

  .course__hero-padding {
    @apply pt-36 pb-10;
  }

  .course__filter-padding {
    @apply pt-24 md:pt-28 lg:pt-44 pb-8 md:pb-12 xl:pb-32;
  }

  .hero__headline {
    @apply text-4xl md:text-5xl xl:text-5xl font-semibold font-greycliff w-full;
  }

  .inner__section-margin {
    @apply my-16 md:my-20;
  }

  .dark__inner {
    @apply py-16 lg:py-20;
  }

  .subheadline {
    @apply font-bold text-3xl lg:text-4xl font-greycliff;
  }

  .body__text {
    @apply text-slate-700 text-lg leading-relaxed;
  }

  .body__text__light {
    @apply text-base-light text-lg leading-relaxed;
  }

  .content__box:nth-child(3n + 1) {
    @apply rounded-br-3xl;
  }

  .content__box:nth-child(3n + 2) {
    @apply rounded-tr-3xl;
  }

  .content__box:nth-child(3n + 3) {
    @apply rounded-bl-3xl;
  }

  .black__white {
    @apply text-slate-900 dark:text-white;
  }

  .gray__white {
    @apply text-slate-700 dark:text-white;
  }

  .button__subtle {
    @apply dark:border-2 dark:border-slate-700 bg-slate-300 dark:bg-slate-900 rounded text-slate-700 dark:text-base-brand font-medium uppercase text-sm;
  }

  button {
    @apply font-greycliff;
  }

  #autocomplete-1-input {
    @apply text-xl h-16;
  }

  .bad-html > p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .bad-html > h3 > span {
    @apply font-bold text-gray-900 dark:text-white;
  }

  .bad-html > h3 {
    @apply font-bold text-gray-900 dark:text-white;
  }

  .bad-html > h4 {
    @apply font-bold text-gray-900 dark:text-white;
  }

  .bad-html > ul > li {
    @apply py-3;
  }
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-roboto;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  max-height: 100%;
  height: 100%;
}

#__next {
  max-height: 100%;
  height: 100%;
}

#scrollers::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ml-half {
  margin-left: calc(100% * -0.5);
  left: 50%;
}

.aa-Panel {
  z-index: 110;
  overflow: scroll !important;
}

.aa-Panel::-webkit-scrollbar {
  display: none;
  width: 0;
}

h1,
h2,
h3,
h4 {
  @apply font-sans tracking-tight font-semibold leading-tight;
}
