@tailwind base;

@layer base {
  html {
    @apply text-slate-900 dark:text-white;
  }

  /* body {
    @apply bg-dark;
  } */

  .container__inner {
    @apply w-full max-w-7xl mx-auto px-6 md:px-10 lg:px-16 xl:px-0 md:w-5/6 lg:w-full;
  }

  .hero__padding {
    @apply pt-28 md:pt-32 lg:pt-44 pb-20 md:pb-28 xl:pb-32;
  }

  .course__hero-padding {
    @apply pt-36 pb-20 xl:pb-24;
  }

  .course__filter-padding {
    @apply pt-28 md:pt-32 lg:pt-44 pb-12 md:pb-28 xl:pb-32;
  }

  .hero__headline {
    @apply text-4xl md:text-5xl xl:text-6xl font-semibold font-plex w-full;
  }

  .inner__section-margin {
    @apply my-16 md:my-20;
  }

  .dark__inner {
    @apply py-16 lg:py-20;
  }

  .subheadline {
    @apply font-bold text-3xl lg:text-4xl font-plex;
  }

  .body__text {
    @apply text-slate-700 text-lg leading-relaxed;
  }

  .body__text__light {
    @apply text-base-light text-lg leading-relaxed;
  }

  .content__box:nth-child(3n + 1) {
    @apply rounded-br-3xl;
  }

  .content__box:nth-child(3n + 2) {
    @apply rounded-tr-3xl;
  }

  .content__box:nth-child(3n + 3) {
    @apply rounded-bl-3xl;
  }

  .black__white {
    @apply text-slate-900 dark:text-white;
  }

  .gray__white {
    @apply text-slate-700 dark:text-white;
  }

  .button__subtle {
    @apply dark:border-2 dark:border-slate-700 bg-slate-300 dark:bg-slate-900 rounded text-slate-700 dark:text-base-brand font-medium uppercase text-sm;
  }
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}
